<h1>New location</h1>


<!-- Testing Map -->
<h1>Map should be here</h1>
  <button id="starttracking">Start your run</button>
  <button id="stoptracking">Stop tracking</button>

  <div class="map" id="map" ></div>

<div class="locations_views"> 
	<div class="run_time">
		<h3>Run Time</h3>
	 </div>

	<div class="run_distance"> 
		<h3>Run Distance</h3>
	
	</div>
	
	<div class="run_pace"> 
		<h3>Run Pace</h3>
	</div>
</div>

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

