<link rel="stylesheet" href="/assets/runs.css">
<div class="runpage">
	<img src="/assets/Mario_running_fast.png">

	  <div class="map" id="map" ></div>

	<div class="locations_views"> 
		<div class="run_time">
			<h3>Run Time</h3>
		 </div>

		<div class="run_distance"> 
			<h3>Run Distance</h3>
		</div>
		
		<div class="run_pace"> 
			<h3>Run Pace</h3>
		</div>

		<div class="coin_counter"><h3>Coins Accumulated</h3> </div>
		<div class="mushroom_counter"><h3>Mushrooms Eaten</h3> </div>
		<div class="turtle_counter"><h3>Turtles Passed</h3> </div>


		<div class="coins_alert">
		</div>

		<div class="mushrooms_alert">
		</div>

		<div class="turtles_alert">
		</div>

	</div>

</div>
