<h1>New run</h1>
<!-- Testing Map -->
<h1>Map should be here</h1>
  <button id="starttracking">Start your run</button>
  <button id="stoptracking">Stop tracking</button>

  <div class="map" id="map" ></div>

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

