<h1>New run</h1>
  <button id="starttracking">Start your run</button>
  <button id="stoptracking">Stop tracking</button>
  
<div class="locations_views"> 
	<div class="run_time">
		<h3>Run Time</h3>
	 </div>

	<div class="run_distance"> 
		<h3>Run Distance</h3>
	
	</div>
	
	<div class="run_pace"> 
		<h3>Run Pace</h3>
	</div>
</div>

<%= link_to 'Back', runs_path %>

