<link rel="stylesheet" href="/assets/runs.css">
<div class="runpage">
	<img src="/assets/Mario_running_fast.png">

	  <div class="map" id="map" ></div>

	<div class="locations_views"> 
		<div class="run_time">
			<h4>Run Time</h4>
		 </div>

		<div class="run_distance"> 
			<h4>Run Distance</h4>
		</div>
		
		<div class="run_pace"> 
			<h4>Run Pace</h4>
		</div>

	    <div id="step_counter"><h4>Steps Counter</h4></div>
		<div class="coin_counter"><h4>Coins Accumulated</h4> </div>
		<div class="mushroom_counter"><h4>Mushrooms Eaten</h4> </div>
		<div class="turtle_counter"><h4>Turtles Passed</h4> </div>


		<div class="coins_alert">
		</div>

		<div class="mushrooms_alert">
		</div>

		<div class="turtles_alert">
		</div>


	</div>

</div>
