
    <button id = "play-sound">Play audio</button>
    <button id = "stop-sound">Stop audio</button>


<div class = "primary-block content-block">
		<div>Level</div>
		<div>2</div>
</div>

<div class = "primary-block content-block">
		<div>coins</div>
		<div>coins</div>
</div>

<div class = "content-block">
		<strong>Total distance</strong>
</div>

<div class = "content-block">
		<div>30km</div>
</div>

<div class = "content-block">
		<strong>Total time run</strong>
</div>
<div class = "content-block">
		<div>00:00:00</div>
</div>

