<link rel="stylesheet" href="/assets/runs.css">
<div class="runpage">
	<div class="images">
		<div class="img coin_counter"> <img src="/assets/small_coin_moving.gif"> <h3> </h3></div>
		<div class="img mushroom_counter"> <img src="/assets/mushroom_moving.gif"> <h3> </h3></div>
		<div class="img turtle_counter"> <img src="/assets/turtle_moving_small.gif"> <h3> </h3></div>
	</div>
	<br>

	<div class="alerts">
		<div class="run_alert coins_alert">
		</div>

		<div class="run_alert mushrooms_alert">
		</div>

		<div class="run_alert turtles_alert">
		</div>
	</div>

	<br>

	  <div class="map" id="map" ></div>
	<br>
	<div class="locations_views"> 
		<div class="location_element run_time">
			<h4>Run Time: 0 hours, 0 minutes, 0 seconds</h4>
		 </div>

		<div class="location_element run_distance"> 
			<h4>Run Distance: 0 km, 0 m</h4>
		</div>
		
		<div class="location_element run_pace"> 
			<h4>Run Pace: 0 km/hr</h4>
		</div>

		<div class="location_element step_counter"> 
			<h4>Pedometer: 0 steps</h4>
		</div>



	</div>

</div>
