
<div class="summary_page">


	<h2 class="history">History</h2>

	<h4>Run time (sec)</h4>
	<canvas id="run_time_chart" width="300" height="250"></canvas>


	<h4>Run distance (m)</h4>
	<canvas id="run_distance_chart" width="300" height="250"></canvas>
	    
	<h4>Run pace (km/h) </h4>
	<canvas id="run_pace_chart" width="300" height="250"></canvas>
	    

	<h4>Run steps </h4>
	<canvas id="run_steps_chart" width="300" height="250"></canvas>
	    
</div>



<script src="assets/summarypage.js">


