/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=Dosis);

#stoprun {
	display: none;
}

.running #startrun {
	display: none;
}

.running #stoprun {
	display: table-cell;
}


body { 
	padding-top: 100px; 
	font-family: 'Press Start 2P', cursive;
}

footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }

.mariologin {
	width: 20%;
	height: auto;
}

.main-tab .icon {
	display: block;
	position: relative;
	left: 50%;
	color: white;
	transform: translateX(-50%);
}

.main-tab{
	color: white;
}
.main-tab {
	background-color: red;
}

.tab-text {
	color: black;
}

.main-tab .tab-text {
	color: white;
}

.content-block {
	display: inline-block;
	width: 40%;
	margin: 10px;
}

.primary-block {
	font-size: 1.8em;
	text-align: center;
}

.coin {
	height: 100px;
}

.title {
	margin-left: 10px;
}


.center-links {
	display: block;
	text-align: center;
	font-family: 'Dosis', sans-serif;
}
.center-links-container {
	width: 100%;
}

.supermariotitle {
	height: 50px;
	position: absolute;
	top: 5px;
	left: 40px;
}

.menu-icon {
	position: absolute !important;
	right: 11px;
}

.titleeditprofile {
	text-align: right;
	margin-right: 20px;
}

.edit {
	text-align: center;
}
