.loginpage {
	height: 100%;
	background-color: #e6af17;
	background-repeat: none;
	background-size: 100% auto;
	width: 100%;
	height: 100%;
	padding-top: 10px;
}
.mariologin-jump {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 35%;
	margin-top: 20px;
}

.mario-start {
	width: 80%;
	position: relative;
	margin: 0 auto;
	padding: 5px;
}

.mario-start input{
	background-color: red;
}

.outerloginscreen {
	width: 85%;
	height: 45%;
	border: solid;
	margin: 0 auto;
	border-radius: 20%;
	background-color: #222;
}

.loginscreen {
	width: 80%;
	height: 90%;
	border-style: solid;
	margin: 0 auto;
	margin-top: 10px;
	background-image: url('giphyMario.gif');
	background-size: 100vw auto;

}

.gameconsole {
	
	position: relative;
}

#user_email, #user_password {
	border-radius: 20%;
	width: 80%;
	position: relative;
	margin: 0 auto;
	border: solid;
	margin-left: 10%;
}

.alert {
	background-color: #e6af17;
	padding-bottom: 20px;
	margin-bottom: -20px;
	text-align: right;
}

.loginemail, .loginpassword, .loginremember {
	margin-left: 35px;
}

#cross {
   width: 100px;
   height: 100px;
   position: relative;
   display: inline-block;
   left: 10px;
}

#cross:before, #cross:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #222;
}

#cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

#cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

.links {
	position: relative;
	display: inline-block;
}

.pretendbuttons {
	position: relative;
	display: inline-block;
	right: 0;
	top: 0;
	height: 100px;
	width: 100px;

}

.circlebutton1, .circlebutton2 {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	background-color: #222;
}

.circlebutton1 {
	position: absolute;
	right: 0;
	top: 0;
}

.circlebutton2 {
	position: absolute;
	left: 0;
	bottom: 0;
}






