.runpage {
	background: url('/assets/run_background.png') no-repeat center center fixed;
	/*background-size: cover;*/
	width: 100%;
	height: 100%;
}

.images {
	position: relative;
	padding-top: 50px
}

.runpage img {
	width: 100px;
	height: 100px;
}

.images h3{
	text-align: center;
	position: absolute;
}

.img {
	display: inline-table;
}

.locations_views {
	font-size: 10px;
}

.run_time {
	font-size: 10px;
}

.alerts {
	z-index: 1000;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
}

.run_alert {
	width: 100%;
	height: 50%;
	margin: 0 auto;
}

.run_alert img {
	width:100%;
	height: 100%;
	display: inline-table;
}